<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UTB-DMS Add a document</title>
</head>
<body>
    <form action="/process-document-form" method="POST">
        <label for="document_type">Document Type:</label><br>
        <input type="radio" id="book" name="document_type" value="book">
        <label for="book">Book</label><br>
        <input type="radio" id="ebook" name="document_type" value="ebook">
        <label for="ebook">EBook</label><br>
        <input type="radio" id="audiobook" name="document_type" value="audiobook">
        <label for="audiobook">Audiobook</label><br>

        <div id="required_fields">
            <!-- id, author, title, price, topic, language -->
            <label for="author">Author:</label><br>
            <input type="text" id="author" name="author"><br>
            <label for="title">Title:</label><br>
            <input type="text" id="title" name="title"><br>
            <label for="price">Price:</label><br>
            <input type="text" id="price" name="price" pattern="[0-9]+([\.][0-9]+)?" title="Please enter a valid decimal number"><br>
            <label for="topic">Topic:</label><br>
            <input type="text" id="topic" name="topic"><br>
            <label for="language">Language:</label><br>
            <input type="text" id="language" name="language"><br>
        </div>

        <div id="book_required_fields" style="display:none">
            <!-- publisher, editor, pages, synopsis, presentation -->
            <label for="publisher">Publisher:</label><br>
            <input type="text" id="publisher" name="publisher"><br>
            <label for="editor">Editor:</label><br>
            <input type="text" id="book_editor" name=""><br>
            <label for="pages">Pages:</label><br>
            <input type="number" id="book_pages" name=""><br>
            <label for="synopsis">Synopsis:</label><br>
            <input type="text" id="book_synopsis" name=""><br>
            <label for="presentation">Presentation:</label><br>
            <input type="text" id="presentation" name="presentation"><br>
        </div>

        <div id="ebook_required_fields" style="display:none">
            <!-- pub_date, size, doi, editor, pages, synopsis -->
            <label for="pub_date">Publication Date:</label><br>
            <input type="date" id="ebook_pub_date" name=""><br>
            <label for="size">Size:</label><br>
            <input type="number" id="size" name="size"><br>
            <label for="doi">DOI:</label><br>
            <input type="text" id="doi" name="doi"><br>
            <label for="editor">Editor:</label><br>
            <input type="text" id="ebook_editor" name=""><br>
            <label for="pages">Pages:</label><br>
            <input type="number" id="ebook_pages" name=""><br>
            <label for="synopsis">Synopsis:</label><br>
            <input type="text" id="ebook_synopsis" name=""><br>
        </div>

        <div id="audiobook_required_fields" style="display:none">
            <!-- pub_date, size, doi, hours, minutes, seconds, synopsis -->
            <label for="pub_date">Publication Date:</label><br>
            <input type="date" id="audiobook_pub_date" name=""><br>
            <label for="size">Size:</label><br>
            <input type="number" id="size" name="size"><br>
            <label for="doi">DOI:</label><br>
            <input type="text" id="doi" name="doi"><br>
            <label for="hours">Hours:</label><br>
            <input type="number" id="hours" name="hours"><br>
            <label for="minutes">Minutes:</label><br>
            <input type="number" id="minutes" name="minutes"><br>
            <label for="seconds">Seconds:</label><br>
            <input type="number" id="seconds" name="seconds"><br>
            <label for="synopsis">Synopsis:</label><br>
            <input type="text" id="audiobook_synopsis" name=""><br>

        </div>

        <input type="submit" id="submit-btn" value="Add Document">
    </form>
</body>
<script>
    //Select all the inputs type date
    const dateInputs = document.querySelectorAll('input[type="date"]');
    //For each input type date set the max attribute to today's date
    dateInputs.forEach(function(dateInput) {
        dateInput.setAttribute('max', new Date().toISOString().split("T")[0]);
    });
    const submitBtn = document.getElementById('submit-btn');
    //If the user click on Book show the book required fields else hide them and show the ebook required fields
    document.getElementById("book").addEventListener("click", function(){
        document.getElementById("book_required_fields").style.display = "block";
        document.getElementById("ebook_required_fields").style.display = "none";
        document.getElementById("audiobook_required_fields").style.display = "none";
        document.getElementById("book_editor").setAttribute("name", "editor");
        document.getElementById("book_pages").setAttribute("name", "pages");
        document.getElementById("book_synopsis").setAttribute("name", "synopsis");
        document.getElementById("ebook_editor").setAttribute("name", "");
        document.getElementById("ebook_pages").setAttribute("name", "");
        document.getElementById("ebook_synopsis").setAttribute("name", "");
        document.getElementById("audiobook_synopsis").setAttribute("name", "");
        submitBtn.value = 'Add Book';
    });
    document.getElementById("ebook").addEventListener("click", function(){
        document.getElementById("book_required_fields").style.display = "none";
        document.getElementById("ebook_required_fields").style.display = "block";
        document.getElementById("audiobook_required_fields").style.display = "none";
        document.getElementById("ebook_editor").setAttribute("name", "editor");
        document.getElementById("ebook_pages").setAttribute("name", "pages");
        document.getElementById("ebook_synopsis").setAttribute("name", "synopsis");
        document.getElementById("ebook_pub_date").setAttribute("name", "pub_date");
        document.getElementById("book_editor").setAttribute("name", "");
        document.getElementById("book_pages").setAttribute("name", "");
        document.getElementById("book_synopsis").setAttribute("name", "");
        document.getElementById("audiobook_synopsis").setAttribute("name", "");
        document.getElementById("audiobook_pub_date").setAttribute("name", "");
        submitBtn.value = 'Add EBook';
    });
    document.getElementById("audiobook").addEventListener("click", function(){
        document.getElementById("book_required_fields").style.display = "none";
        document.getElementById("ebook_required_fields").style.display = "none";
        document.getElementById("audiobook_required_fields").style.display = "block";
        document.getElementById("book_synopsis").setAttribute("name", "");
        document.getElementById("ebook_synopsis").setAttribute("name", "");
        document.getElementById("audiobook_synopsis").setAttribute("name", "synopsis");
        document.getElementById("audiobook_pub_date").setAttribute("name", "pub_date");
        document.getElementById("ebook_editor").setAttribute("name", "");
        submitBtn.value = 'Add AudioBook';
    });

</script>
</html>